.equipmentBanner{
    max-width: 500px;
    max-height: 300px;
}
.equipment{
    max-width: 90%;
    margin: 0 auto;
}
.swiperEquipment{
    max-width: 100%;
}
.equipmentBanner{
    max-height: 500px;
}
.machines{
    max-width: 80%;
    margin: 0 auto;
}


.card{
    max-width: 80%;
}
.card-left{
    margin-right: 15%;
}
.card-right{
    margin-left: 15%;
}
.imgEquipment{
    width: 300px;
    height: 300px;
}
/* RWD */
/* Extra large devices */
@media (max-width: 1150px) {
    .card{
        margin: 20px 0;
    }

}

/* desktops */
@media (max-width: 992px) {
    .card{
        margin: 10px auto;
        width: 500px;
        text-align: center;
    }
    .card-body{
        margin: 0 auto;
    }
    .imgEquipment{
        max-width: 100%;
        max-height: 100%;
    }
    .mapContent{
        width: 500px;
        height: 300px;
    }
    .form{
        width: 70%;
        margin: 10px 0;
    }
}
